select {
    padding: 10px;
    margin-left: 63%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  /* Genre.css */

/* Search Bar styles */
input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
  }

  
  /* Card styles */
  .card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
